/* App.css */
.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .app-container {
    margin: 2rem auto;
    height: calc(100vh - 4rem);
    border-radius: 2rem;
  }
}